{% render 'partials/head.liquid' %}

<main>
      <article tabindex="0">
        <section>
          <img alt="Voorkant van de laptop" src="./assets/image.png">
        </section>
        <section>
        <pre><h1>Info</h1></pre>
          <pre> 
          {
            id: {{person.id}}
            name: {{person.name}}
            nickname: {{person.nickname}}
          }
          </pre>
          </section>
        <section>
        <span></span>
        <span></span>
        <span></span>
        </section>
      </article>
    </main>

{% render 'partials/foot.liquid' %}
