{% render 'partials/head.liquid' %}

<main>
      <article>
        <section>
          <img src="./assets/image.png" />
        </section>
        <section>
          <pre> 
          {
            id: {{person.id}}
            name: {{person.name}}
            nickname: {{person.nickname}}
          }
          </pre>
          </section>
        <section>
        <span></span>
        <span></span>
        <span></span>
        </section>
      </article>
    </main>

{% render 'partials/foot.liquid' %}
