{% render 'partials/head.liquid' %}

<main>
      <article>
        <section>
          <img src="./assets/image.png" />
        </section>
        <section>
          <pre> 
            {{person.name}}
          </pre>
          </section>
        <section>
        </section>
      </article>
    </main>

{% render 'partials/foot.liquid' %}
