@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(45deg, #ccf, #ccf);
  padding: 1rem;
}

main {
  height: 100dvh;
  display: flex;
  align-items: end;
  padding-bottom: 2rem;
  justify-content: center;

  /* Camera instelling */
  perspective: 50em;
  transform-style: preserve-3d;
}

article {
  position: relative;
  width: 100%;
  max-width: 30rem;
  border-radius: 0.8rem;
  transform-style: preserve-3d;
  background-color: white;

  section {
    height: 100%;
    border-radius: 0.8rem;
    z-index: 1;

    &:nth-of-type(1) {
      backface-visibility: hidden;
      img {
        width: 100%;
        border-radius: 0.8rem;
        display: block;
      }
    }

    &:nth-of-type(2) {
      background-color: black;
      color: green;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: -1;
      position: absolute;
      display: flex;
      align-items: center;

      pre {
        transform: rotateX(180deg);
      }
    }

    &:nth-of-type(1),
    &:nth-of-type(2) {
      transform-origin: top;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: 1s;
    }

    &:nth-of-type(3) {
      position: absolute;
      top: 0;
      z-index: -1;
      display: flex;
      align-items: end;
      width: 100%;
      justify-content: space-between;
      padding: 1rem;
      gap: 1rem;
      background: white;

      img {
        width: 100%;
      }

      span {
        background: grey;
        height: 5rem;
        border-radius: 0.3rem;
      }

      span:nth-of-type(1) {
        width: 25%;
      }

      span:nth-of-type(2) {
        width: 50%;
      }

      span:nth-of-type(3) {
        width: 25%;
      }
    }
  }
}

article:hover section:nth-of-type(1),
article:hover section:nth-of-type(2) {
  rotate: x 180deg;
}
