@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(45deg, #ccf, #ccf);
}

main {
  height: 100dvh;
  display: grid;
  place-items: center;
  perspective: 50em;
  transform-style: preserve-3d;
}

article {
  position: relative;
  height: 25em;
  background-color: white;
  transform-style: preserve-3d;
  border-radius: 10px;
}

section {
  height: 100%;
  z-index: 1;
}

section:nth-of-type(1),
section:nth-of-type(2) {
  transform-origin: left;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s;
  border-radius: 10px;
}

section:nth-of-type(1) {
  /* Laat zien of de achterkant zichtbaar is of niet */
  backface-visibility: hidden;
}

section:nth-of-type(2) {
  background-color: #873338;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  position: absolute;
}

section:nth-of-type(3) {
  position: absolute;
  top: 0;
  z-index: -1;
  padding: 1.5em;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 1px;
  max-width: 100%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
}

article:hover section:nth-of-type(1),
article:hover section:nth-of-type(2) {
  rotate: y -180deg;
}

p {
  z-index: -1;
  pointer-events: none;
  color: black;
  text-decoration: none;
}

img {
  height: 100%;
  border-radius: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    list-style: none;
  }
}

ul li h2 {
  font-size: 50%;
}

input[type="checkbox"] {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 30px;
}

/* dark mode selector */
body:has(:checked) {
  background: #212121;
}
